{% extends 'base.html' %}

{% block main %}
<h1>Shopping Cart</h1>

<div class="products row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card">
            <img src="{{ url_for('main.image', filename=product.image) }}" alt="" />
            <div class="card-body">
                <h5 class="card-title"><a href="{{ url_for('main.product', product_id=product.id) }}">{{ product.name }}</a></h5>
                <p class="card-text">{{ "${:,.2f}".format(product.price) }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}