{% extends 'base.html' %}

{% block main %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">UWI / NCB Internship Starter Kit</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Get started quickly with your web application with this Starter code. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero praesentium quas vel ab consequuntur ea, illum assumenda commodi? Exercitationem delectus voluptatibus iure consequatur, sit vero architecto provident impedit rerum dolorum!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
{% endblock %}